<div class="container">

  <div class="row">

    <div style="width:20px;height:20px;background-color:red;">
      <app-mon-premier-post></app-mon-premier-post>
      <app-post-list-item></app-post-list-item>
      <app-post-list></app-post-list>

    </div>
  </div>
</div>

<!--<app-post-list-item [title]="titleBean"-->
                    <!--[loveIts]="loveItsBean"-->
                    <!--[content]="contentBean"-->
                    <!--[createdAt]="createdAtBean"-->
<!--&gt;</app-post-list-item>-->
