<div class="container">
  <div style="text-align:center">

    <h1>

      Welcome to {{ title }}!

    </h1>

  </div>

  <app-mon-premier-post></app-mon-premier-post>
  <div class="row">

    <div class="col-xs-12">

      <h2>Mes Posts</h2>

      <ul class="list-group">

        <app-mon-premier-post></app-mon-premier-post>

        <app-post-list-component></app-post-list-component>

        <app-post-list-item-component></app-post-list-item-component>

      </ul>
      <button class="btn btn-success"
              [disabled] = "!isAuth"
              (click)="onGetLike()">Like</button>
      <.../>
      <button class="btn btn-success"
              [disabled]="!isAuth"
              (click)="onGetUnlike()">UnLike</button>
    </div>

  </div>

</div>
